ion-tab-button {
    text-indent: 50px;
    -ms-text-size-adjust:50px;
    // -moz-tab-size: 8; /* Firefox */
      // tab-size: 8;
      // tab-size: initial;
      // -ms-text-size-adjust: initial;
      font-size: 14px;
}