<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="buttonText" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form id="form">
    <ion-input expand="block"  shape-="round" type="OTP" placeholder="Enter OTP"></ion-input>
    <a slot="end" routerLink= "Resend OTP">Resend OTP</a>
    <ion-button expand="block" shape="round" [routerLink]="['/profile']">Login</ion-button>
  </form>
</ion-content>
