ion-toolbar {
    --background: #f5f5f3;
  
    ion-button {
    text-transform: initial;
      font-size: 17px;
      padding-bottom: 5;
    }
}
       
   #form {
    margin-top: 15%;
    padding-left: 30px;
    padding-right: 30px;

    ion-button {
      margin-top: 35px;
      height: 48px;
      font-size: 18px;
      text-transform: initial;
      border-radius: 50px;
      box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
      --box-shadow: none;
      
    }
  }
  a{
    padding-left: 60%;
    text-align: end;
  }