a{
    padding-bottom: 150%;
    text-align:start;
    color: #1e2ee1;
  }
  ion-menu-button {
    text-indent: 50px;
    -ms-text-size-adjust:50px;
    // -moz-tab-size: 8; /* Firefox */
      // tab-size: 8;
      // tab-size: initial;
      // -ms-text-size-adjust: initial;
      font-size: 16px;
      
    }