ion-tab-button {
    text-indent: 80px;
    -ms-text-size-adjust:75px;
    
      font-size: 16px;
      
    }
    
    ion-tab-bar{
      background:fixed;
      border: 1px;
      color:black;
    }