<!--  <ion-header>
  <ion-toolbar>
    <ion-title>create group</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<!-- <ion-content> -->
 
<!-- <ion-content> -->
  <form id="form">
   <ion-item>
      <ion-label position="floating">Group Name </ion-label>
      <ion-input ></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Group Description</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-button [routerLink]= "['/group']" expand="block" shape="round"> Create</ion-button>
  </form>
  
