<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
</ion-toolbar>
</ion-header>  -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="buttonText" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1>Enter<br />Profile Details</h1>

  <form>
    <ion-item>
      <ion-label position="floating">UserName </ion-label>
      <ion-input ></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Address </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
        <ion-select-option value="t">Others</ion-select-option>
      </ion-select>
    </ion-item>
    <br>
    <ion-button [routerLink]="['/main']" expand="block" shape="round"> Register</ion-button>

  </form>

</ion-content>

